body{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#111;
	color:white;
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

/* Header */
.question-header{
	background:goldenrod;
	padding:15px;
    position:sticky;
    top:0;
    z-index:10;
}

.header-container{
	max-width:1200px;
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

/* Main Layout */
.question-layout{
	flex:1;
	max-width:1200px;
	margin:auto;
	padding:30px;
	display:grid;
	grid-template-columns:2fr 1fr;
	gap:30px;
}

/* Question Card */
.question-card{
	background:#1b1b1b;
	padding:30px;
	border-radius:10px;
	box-shadow:0 10px 25px rgba(0,0,0,0.5);
	text-align:center;
    position: relative;
    /*padding-bottom: 80px;*/
}

#question-type{
	color:goldenrod;
	font-weight:bold;
}

#question-text{
	font-size:28px;
	margin:20px 0;
}

/* Answers */
#answer-section{
	margin:20px 0;
}

.answer-btn{
	padding:12px 20px;
	margin:10px;
	border:none;
	border-radius:8px;
	font-size:16px;
	cursor:pointer;
}

.answer-btn:hover{
	background:#444;
	color:white;
}

.answer-btn.active{
	background:mediumpurple;
	color:white;
}

/* Inputs */
#numeric-answer,
#text-answer{
	padding:10px;
	font-size:16px;
	width:200px;
	border-radius:6px;
	border:none;
}

/* Controls */
#controls{
	margin-top:20px;
}

#controls button{
	padding:12px 20px;
	margin:8px;
	border:none;
	border-radius:8px;
	cursor:pointer;
    font-size: 20px;
    background: #c8a44d;
    color: #111;
    transition: 0.25s;
    min-width: 170px;
}

@media only screen and (max-width:700px) {
    #controls button{
        padding:10px 17px;
        margin:8px;
        border:none;
        border-radius:8px;
        cursor:pointer;
        font-size: 15px;
        background: #c8a44d;
        color: #111;
        transition: 0.25s;
        min-width: 140px;

    }
}

@media only screen and (max-width:436px) {
    #controls button{
        padding:8px 14px;
        margin:8px;
        border:none;
        border-radius:8px;
        cursor:pointer;
        font-size: 12px;
        background: #c8a44d;
        color: #111;
        transition: 0.25s;
        min-width: 120px;

    }
}

#submit-btn:hover{
	background:green;
	color:white;
    box-shadow: 0 8px 16px green;
}

#skip-btn {
    position: absolute;
    bottom: 1px;
    right: 5px;
    margin: 0;
}

#skip-btn:hover{
	background:#555;
	color:white;
    box-shadow: 0 8px 16px #555;
    font-size: 15px;
}

#qr-btn:hover{
	background:steelblue;
	color:white;
    box-shadow: 0 8px 16px steelblue;
}

.primary-btn {
    padding:10px 18px;
    margin:8px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size: 16px;
    background: #c8a44d;
    color: #111;
    transition: 0.25s;
    min-width: 150px;
}

.primary-btn:hover{
    background: #f0c75e;
    box-shadow: 0 8px 16px rgba(200,164,77,0.4);
    color: white;
    font-size: 18px;
}

/* Message */
#message{
	margin-top:15px;
	font-weight:bold;
}

/* History */
#history-section{
	background:#1b1b1b;
	padding:20px;
	border-radius:10px;
	max-height:600px;
	overflow:auto;
}

.history-item{
	padding:10px;
	margin-bottom:10px;
	border-radius:6px;
	font-size:14px;
	display:flex;
	flex-direction:column;
	gap:5px;
}

.history-item.correct{
	background:#133d13;
}

.history-item.wrong{
	background:#3d1313;
}

.history-item.skipped{
	background:#333;
}

/* QR code */
#qr-section{
	position:fixed;
	top:105px;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	display:none;
	align-items:center;
	justify-content:center;
}

/* QR code  when width becomes 344px */
@media only screen and (max-width:344px){
    #qr-section{
        position:fixed;
        top:125px;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.8);
        display:none;
        align-items:center;
        justify-content:center;
    }
}

.qr-card{
	background:#222;
	padding:30px;
	border-radius:10px;
	text-align:center;
}

#preview{
	width:300px;
	border-radius:10px;
}

.qr-controls{
	margin-top:20px;
}

.qr-controls button{
	margin:5px;
	padding:10px;
}

/* Footer */
.question-footer{
	text-align:center;
	padding:10px;
	color:#888;
}

#score{
    background:#1b1b1b;
    padding:8px 16px;
    border-radius:8px;
    font-weight:bold;
    font-size:18px;
}

/* Responsive */
@media (max-width:992px){
	.question-layout{
		grid-template-columns:1fr;
	}

	#history-section{
		order:2;
	}
}

@media (max-width:600px){
	#question-text{
		font-size:22px;
	}

	#preview{
		width:220px;
	}
}
/* back to home button at end of game - grigoris*/
/* End Game Controls */
/*#end-controls{*/
/*	margin-top:25px;*/
/*	display:none;*/
/*}*/


/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    /* Ensure it never moves */
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:200px;
}

/* Modal Content/Text */
.modal-content {
    /* Ensure its well visible to users */
    font-family: "Cascadia Mono", monospace;
    font-weight: bolder;
    background-color: crimson;
    margin: 20% auto;
    padding: 25px;
    border: 3px solid black;
    width: 70%;
    font-size: 20px;
}

/* X close */
.closeModal {
    float: right;
    font-size: 30px;
    font-weight: bolder;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    cursor: pointer;
}

@media only screen and (max-width:700px) {


    /* The Modal (background) */
    .modal {
        /* Hidden by default */
        display: none;
        /* Ensure it never moves */
        position: absolute;
        z-index: 1;
        min-width:70% ;
        height: 100%;
        top:200px;
    }

    .modal-content {
        min-width: 65%;
        width: 70%;
        font-family: "Cascadia Mono", monospace;
        font-weight: bolder;
        background-color: crimson;
        margin: 20% auto;
        padding: 20px;
        border: 3px solid black;
        font-size: 15px;

    }

    .closeModal {
        float: right;
        font-size: 25px;
        font-weight: bolder;
    }


}

@media only screen and (max-width:500px) {
    .modal-content {
        min-width: 65%;
        width: 65%;
        font-family: "Cascadia Mono", monospace;
        font-weight: bolder;
        background-color: crimson;
        margin: 20% auto;
        padding: 15px;
        border: 2px solid black;
        font-size: 13px;

    }


    /* The Modal (background) */
    .modal {
        /* Hidden by default */
        display: none;
        /* Ensure it never moves */
        position: absolute;
        z-index: 1;
        min-width: 300px;
        height: 100%;
        top: 200px;
    }

    .closeModal {
        float: right;
        font-size: 20px;
        font-weight: bolder;
    }
}

/*Links Color*/
a{
    color: yellow;
}

.loader {
    width: 75px;
    height: 75px;
    margin: 20px auto;
    position: relative;
}

.loader img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
